    
    body {
        background-color: #e5e5e5;
        padding: 10px;
        
    
    }

    .meu-nome {
        font-family: 'Open Sans',sans-serif;
        color: #7A7978;
        text-align: center;
        font-weight: 600;

    }

    h2 {
        font-family: 'Open Sans',sans-serif;
        color: #7A7978;
        

    }

    .descricao {
        font-family: 'Open Sans';
        color: #7A7978;
        /* position: relative; */
        /* top: 35%; */

        
        
    }

    .style-list{
        font-family: 'Open Sans';
        font-size: 20px;
        color: #7A7978;
        }

    .button{
        color: #fff;
        background-color: mediumaquamarine;
        font-family: 'Open Sans';
        padding: 15px 30px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        box-shadow: 0px 5px 10px #7A7978;
        margin: 5px;
        }    
    .button:hover{
        background-color: #7A7978; 
    }    

    #foto-thiago {
        border-radius: 3%;
        /* float: left; */
        padding: 16px;
        background-color: mediumaquamarine;
        

    }  
    .social-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content:space-between;
        
       
    } 
        
    .image-container{
        height: 330px;
        display: flex;
        justify-content: space-between;
        /* position: relative; */
        /* margin-right: 200px; */
    }   

    
    ul li:nth-child(odd){
        background-color: mediumaquamarine;
    }
    ul li:hover{
        background-color: #fff;
    }

    .rodape {
        font-family: 'Open Sans',sans-serif;
        display: flex;
        justify-content: center;
    }

    
    